@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

body {
  background: #005CFB;
}
body section {
  width: 100%;
  height: 100vh;
}

.custom-nav {
  background: #1E6FFC;
}
.custom-nav .container-fluid .navbar-brand img {
  width: 13rem;
}
.custom-nav .container-fluid #navbarNav .nav-item {
  margin-left: 20px;
}
.custom-nav .container-fluid #navbarNav .nav-item .nav-link {
  color: white;
  font-weight: 300;
  font-size: 0.9em;
  letter-spacing: 1px;
  position: relative;
}
.custom-nav .container-fluid #navbarNav .nav-item .my-pick {
  font-weight: 500;
}
@media (max-width: 768px) {
  .custom-nav .container-fluid #navbarNav .nav-item .my-pick {
    font-weight: 300;
  }
}
.custom-nav .container-fluid #navbarNav .my-active::before {
  content: "";
  background-color: #FF7E1A;
  width: 100px;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -7px;
  border-radius: 0 0 14px 14px;
  border: none;
  outline: none;
}
@media (max-width: 768px) {
  .custom-nav .container-fluid #navbarNav .my-active::before {
    display: none;
  }
}
@media (max-width: 768px) {
  .custom-nav .container-fluid #navbarNav {
    background-color: #005CFB;
    border-radius: 10px;
    margin-top: 10px;
  }
  .custom-nav .container-fluid #navbarNav :nth-child(5) {
    display: none;
  }
}
.custom-nav .container-fluid .navbar-toggler span.navbar-toggler-icon {
  background-color: white;
  border-radius: 50%;
}

.contentBox {
  padding: 40px 80px;
}
.contentBox .txBox h2 {
  color: white;
  font-weight: 700;
  font-size: 3rem;
}
.contentBox .txBox h2 span {
  color: #FF7E1A;
}
@media screen and (min-width: 1300px) {
  .contentBox .txBox h2 {
    font-size: 6rem;
  }
}
@media (max-width: 768px) {
  .contentBox .txBox h2 {
    font-size: 2.7rem;
  }
}
.contentBox .txBox p {
  color: rgba(255, 255, 255, 0.425);
}
@media (min-width: 1300px) {
  .contentBox .txBox p {
    font-size: 1.3rem;
  }
}
@media (max-width: 768px) {
  .contentBox .txBox p {
    font-size: 0.7rem;
  }
}
.contentBox .txBox a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  display: inline-block;
  padding: 0.7em 2em;
  background-color: #FF7E1A;
  border-radius: 40px;
}
@media (max-width: 768px) {
  .contentBox .txBox a {
    font-size: 0.8rem;
    margin-top: -100px;
  }
}
.contentBox .imgBox img {
  width: 100%;
  pointer-events: none;
}
@media (max-width: 768px) {
  .contentBox .imgBox {
    margin-top: 0px;
  }
}
@media screen and (min-width: 1300px) {
  .contentBox {
    padding: 80px 160px;
  }
}
@media (max-width: 768px) {
  .contentBox {
    padding: 40px 40px;
  }
}