@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

$nav-color : #1E6FFC;
$back-color: #005CFB;
$orange    : #FF7E1A;

* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

body{
    background: $back-color;
    section{
        width: 100%;
        height: 100vh;
    }
}
.custom-nav {
    background: $nav-color;

    .container {
        .navbar-brand {
            img {
                width: 13rem;
            }
        }
        #navbarNav{
            .nav-item{
                margin-left: 20px;
                .nav-link{
                    color: white;
                    font-weight: 300;
                    font-size: 0.9em;
                    letter-spacing: 1px;
                    position: relative;
                }
                .my-pick{
                    font-weight: 500;
                }
            }
            .my-active::before{
                content: '';
                background-color: $orange;
                width: 100px;
                height: 100%;
                position: absolute;
                top: 0;
                bottom: 0;
                margin-left: -7px;
                border-radius: 0 0 14px 14px;
            }
        }
    }
}
.contentBox{
    padding: 40px 80px;

    .txBox{
       h2{
           color: white;
           font-weight: 700;
           font-size: 3rem;
           span{
               color: $orange;
           }
       }
       p{
           color: rgba(255, 255, 255, 0.425);
       }
       a{
           text-decoration: none;
           color: white;
           font-weight: 500;
           letter-spacing: 1px;
           display: inline-block;
           padding: 0.7em 2em;
           background-color: $orange;
           border-radius: 40px;
       }
    }
    .imgBox{
        img{
            width: 100%;
            pointer-events: none;
        }
    }
}